DB_HOSTNAME=localhost
DB_NAME=postgres
DB_USER=admin
DB_PASSWORD=test
DB_PORT=5432
DB_SSL_ENABLED=false
CORE_URL=https://staging-api.rfcx.org
EVENTS_SQS_QUEUE_ENABLED=false
EVENTS_SQS_QUEUE=ranger-api-events-staging
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=
AWS_REGION_ID=eu-west-1
AWS_S3_BUCKET=rfcx-ranger-assets-staging
AUTH0_DOMAIN=auth.rfcx.org
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
